extends layout

block content
    h1 #{title}
    form(method='POST', action='/response/add')
        #form-group
            label Name:
            input.form-control(name='name', type='text')
        #form-group
            label Description:
            textarea.form-control(name='description')
        input.btn.btn-primary(type='submit', value='Submit')