doctype html
html
    head
        title Response Builder
        link(rel='stylesheet' href='/bower-components/bootstrap/dist/css/bootstrap.css')
    body
        nav.navbar.navbar-expand-md.navbar-dark.bg-dark
            a.navbar-brand(href='/') ResponseBuilder
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarsExampleDefault.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item
                        a.nav-link(href='/')
                            | Home
                            span.sr-only (current)
                    li.nav-item
                        a.nav-link(href='/response/add') Add Response
                    li.nav-item.dropdown
                        a#dropdown01.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Preferences
                        .dropdown-menu(aria-labelledby='dropdown01')
                            a.dropdown-item(href='#') Features
                            a.dropdown-item(href='#') Profile
                ul.nav.navbar-nav.navbar-right
                    li.nav-link
                        a.nav-link(href='/users/register') Register
                    li.nav-link
                        a.nav-link(href='/users/login') Login
        br
        .container
            != messages('message', locals)
            if errors
                each error, i in errors
                    div(class='alert alert-danger') #{error.msg}
            block content
                br
            footer
                hr
                p Copyright &copy; 2019
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
        script(src='/bower-components/jquery/actions.js')
        script(src='/bower-components/bootstrap/dist/js/bootstrap.js')
